name: Build TV APK (Simple)

on:
  workflow_dispatch: # 允许手动点击触发

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0' # 使用较新的稳定版
          channel: 'stable'

      - name: Get Dependencies
        working-directory: ./simple_live_tv_app # 进入TV版目录
        run: flutter pub get

      - name: Build APK (Release)
        working-directory: ./simple_live_tv_app # 进入TV版目录
        run: flutter build apk --release --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-tv-app
          path: simple_live_tv_app/build/app/outputs/flutter-apk/app-release.apk
          retention-days: 1
