name: Build TV APK (Debug Mode)

on:
  workflow_dispatch: # 允许手动点击触发

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable' # 使用最新版，解决依赖报错

      - name: Get Dependencies
        working-directory: ./simple_live_tv_app
        run: flutter pub get

      - name: Build APK (Debug)
        working-directory: ./simple_live_tv_app
        # 关键修改：使用 --debug 模式，避开签名密码验证
        run: flutter build apk --debug --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-tv-app-debug
          # 关键修改：文件名变成了 app-debug.apk
          path: simple_live_tv_app/build/app/outputs/flutter-apk/app-debug.apk
          retention-days: 1
